<article class="admin_article_show">

    <!-- Begin Published-->
    <div class="article_show__published">
        <%= date_formatted(@article.published_at) %>
    </div>

    <!-- Begin Title-->
    <div class="article_show__title">
        <h1><%= @article.title %></h1>
    </div>

    <!--Main Article Image-->
    <%= image_tag(@article.pictures.first.name, class: :"main_article_show") %>


    <!-- Begin Author-->
    <div class="article_show__author">
      <% if @author.username.present? %>
        <% @author.username %>
      <% end %>
    </div>

    <!-- Begin Picture-->
    <% if @author.pictures.present? %>
      <%= image_tag(@author.pictures.first.name, class: "img__author_img") %>
    <% end %>

    <div class="article_show__content">
        <%= markdown(@article.content) %>
    </div>

</article>
